In [4]:
import pandas as pd

df = pd.read_csv(r"C:\Users\dhany\CODING ( END OF ME! )\AI Expense Predictor\data\synthetic_personal_finance_dataset.csv")
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32424 entries, 0 to 32423
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  32424 non-null  object
 1   age                      32424 non-null  int64
 2   gender                   32424 non-null  object
 3   education_level          32424 non-null  object
 4   employment_status        32424 non-null  object
 5   job_title                32424 non-null  object
 6   monthly_income_usd       32424 non-null  float64
 7   monthly_expenses_usd     32424 non-null  float64
 8   savings_usd              32424 non-null  float64
 9   has_loan                 32424 non-null  object
 10  loan_type                12995 non-null  object
 11  loan_amount_usd          32424 non-null  float64
 12  loan_term_months         32424 non-null  int64
 13  monthly_emi_usd          32424 non-null  float64
 14  loan_interest_rate_pct   32424 non-null  float64
 15  debt_to_income_ratio     32424 non-null  float64
 16  credit_score             32424 non-null  int64
 17  savings_to_income_ratio  32424 non-null  float64
 18  region                   32424 non-null  object
 19  record_date              32424 non-null  object
dtypes: float64(8), int64(3), object(9)
memory usage: 4.9+ MB

,age,monthly_income_usd,monthly_expenses_usd,savings_usd,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio
count,32424.000000,32424.000000,32424.000000,3.242400e+04,32424.000000,32424.000000,32424.000000,32424.000000,32424.000000,32424.000000,32424.000000
mean,43.415865,4027.863185,2419.444709,2.437520e+05,100114.735992,58.500000,3092.992339,6.616332,1.194881,575.260424,5.045431
std,14.978246,1916.773353,1388.893084,1.915772e+05,152536.588635,104.865373,6478.939776,9.472964,3.761964,159.023227,2.851344
min,18.000000,500.000000,150.010000,6.359600e+02,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000,0.100000
25%,30.000000,2657.795000,1397.497500,8.629155e+04,0.000000,0.000000,0.000000,0.000000,0.000000,437.000000,2.580000
50%,43.000000,3997.740000,2219.575000,2.017003e+05,0.000000,0.000000,0.000000,0.000000,0.000000,575.000000,5.040000
75%,56.000000,5351.607500,3254.037500,3.589662e+05,189499.070000,60.000000,3574.567500,13.140000,0.920000,714.000000,7.510000
max,69.000000,12404.050000,10082.710000,1.237774e+06,499954.750000,360.000000,47723.840000,30.000000,90.670000,850.000000,10.000000

In [9]:
df['record_date'] = pd.to_datetime(df['record_date'])
df = df.sort_values('record_date')

In [10]:
df['day_of_week'] = df['record_date'].dt.weekday
df['month'] = df['record_date'].dt.month
df['year'] = df["record_date"]dt.year

X = df.